pyirsdk
pywinauto
pyperclip
streamlit
streamlit-autorefresh
langchain-ollama
langchain
langchain-core
langgraph
langsmith
discord.py @ https://github.com/DA-344/d.py/archive/refs/heads/fix/voice-issues.zip
pynacl
ffmpeg
imageio-ffmpeg
ws4py
signalr-client